body{
  color:white;
  background-color:#202225;
  font-family:Segoe UI,sans-serif;
  font-size:18px;
}

a{
  color:#2c80ff;
}

#BloodBot{
  font-size:20px;
}
input{
  color:white;
  background-color:#00FFFF;
    font-family:"Comic Sans MS", cursive, sans-serif;
}
